# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (large or sensitive)
data/raw/*
data/processed/*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model files (optional, if large)
*.joblib
*.pkl
